<h1>Shopping Cart</h1>

<table>
    <tr>
        <th>Donut</th>
        <th>Calories</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @for(d of getCartDistict(); track $index){
        <tr>
            <td>{{ d.name }}</td>
            <td>{{ d.calories }}</td>
            <td>Price: $1</td>
            <td>x{{ getItemQuantity(d) }}</td>
            <td>
                <button type="button" (click)="removeFromCart(d)">X</button>
            </td>
        </tr>
    }
</table>

<p>Total calories: {{ getTotalCalories() }}</p>
<p>Total: ${{ getCart().length }}</p>